name: Build and Push Docker Images

on:
  push:
    tags:
      - "release-*"
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include: # Full semver versions
          - opentofu_version: 1.6.3
          - opentofu_version: 1.7.10
          - opentofu_version: 1.8.11
          - opentofu_version: 1.9.4
          - opentofu_version: 1.10.7
            is_latest: true

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Extract major.minor version
        id: version_processing
        run: |
          # Extract major.minor version (e.g., 1.2.3 -> 1.2)
          VERSION="${{ matrix.opentofu_version }}"
          MAJOR_MINOR=$(echo "$VERSION" | awk -F. '{print $1"."$2}')
          echo "MAJOR_MINOR_VERSION=$MAJOR_MINOR" >> $GITHUB_ENV

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          build-args: OPENTOFU_VERSION=${{ matrix.opentofu_version }}
          tags: |
            massdrivercloud/provisioner-opentofu:${{ env.MAJOR_MINOR_VERSION }}
            ${{ matrix.is_latest && 'massdrivercloud/provisioner-opentofu:latest' || '' }}